@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');

$colors: #ffecbb, #ffecbbe8, #ffecbbc9, #ffecbba4, #ffecbb7c, #ffecbb42 ;

$primary-color: #ffecbb;
$submit-btn-bg-color: black;
$submit-btn-color: white;

body,
html {
  margin: 0;
}

body {
  height: 100%;
  font-family: "Montserrat", Arial, sans-serif;
  display: none;
}

header.nav {
  position: absolute;
  padding: 1em;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2em);
  background: white;

  a {
    text-decoration: none;
    color: black;
  }

  a.logo {
    font-weight: bold;
    text-transform: uppercase;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;

    li a {
      padding: 1em;
    }
  }
}

blockquote footer {
    font-family: 'Caveat', cursive;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;

  main,
  aside, section {
    padding: 3em;

    h1,
    h2,
    .read-btn {
      text-transform: uppercase;
      margin: 0;
    }

    h2 {
      font-size: 1.4rem;
    }

    .read-btn {
      text-decoration: none;
      color: black;
      font-weight: bold;
      background: url("../images/iconmonstr-arrow-24.svg") no-repeat;
      background-size: 12px;
      background-position: 0 3px;
      padding-left: 1em;
    }

    .primary {
      padding: 1.5em 1.5em 1.5em calc(3em + 25px);
      background-position: 3em;
      border: 1px solid gray;
      display: inline-block;
      margin-top: 3em;
      margin-left: -3em;
    }

    .clipper {
      overflow: hidden;
    }
  }

  section {
    height: 100vh;
    margin-top: 3em;
  }

  main.hero {
    padding-top: 8em;
    background: url("../images/NYBackground.png");
    background-size: cover;

    p {
      width: 70%;
      font-size: 1.2rem;
      margin-bottom: 1em;
      margin-top: 1em;
      /*background-color: rgba(187, 208, 255, 0.658);*/
      margin-left: -10px;
      padding-left: 10px;
    }

    h1 {
      font-size: 2.4rem;
    }
  }
  aside.sidebar,
  aside.subscribe {
    font-size: 0.9rem;
    line-height: 1.6em;
  }

  aside.mySlides {

    @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
            background: nth($colors, $i)
        }
    }
    /*background: $primary-color;*/
  }

  .read-btn {
    margin-top: 2em;
    display: block;
    background-position: 0 0.4em;
  }

  /*note*/
}

.section2 {
  display: grid;
  grid-template-columns: auto;
}

aside.subscribe {
  input {
    width: calc(100% - 2em);
    padding: 1em;
    font-family: "Montserrat";
    margin-bottom: 1em;
  }

  button {
    width: 100%;
    background: $submit-btn-bg-color;
    color: $submit-btn-color;
    padding: 1em;
    border: none;
    font-family: "Montserrat";
  }
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#ff {
  background: url('/images/StevFF1.png');
  background-size: cover;
}

#tf {
  background: url('/images/StevTF1.png');
  background-size: cover;
}

#bt {
  background: url('/images/Black\ Tie\ Desserts\ Front.png');
  background-size: cover;
}

#zap {
  background: url('/images/Zap.png');
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  
}

@media only screen and (min-width: 1020px) {
  
  .section2 {
    height: 100vh;
  }
  
  header {
    background: none;
  }

  .wrapper {
    grid-template-columns: 70% auto;
    grid-template-rows: 60% auto;
    grid-template-areas:
      "hero sidebar"
      "hero subscribe";
    height: 100vh;

    section {
      height: 100%;
    }
  }

  /*.section2 {
    grid-template-columns: 70% auto;
    grid-template-rows: 60% auto;
    grid-template-areas:
      "hero sidebar"
      "hero subscribe";
    height: 100vh;*/

  .wrapper2 {
    grid-template-columns: auto 5px auto 5px auto 5px auto;
    grid-template-rows: auto;
    grid-template-areas:
      "one spacer two spacer three spacer four";
    height: 100vh;
  }

  section.1 {
    grid-area: one;
  }

  section.2 {
    grid-area: two;
  }

  section.3 {
    grid-area: three;
  }

  section.4 {
    grid-area: four;
  }

  main.hero {
    grid-area: hero;
  }

  main,
  aside {
    display: grid;
    grid-template-rows: auto;
    /*align-items: center;*/
    
  }

  .sidebar .inner {
      margin-top: 40px;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 21px;
  }
}
